body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

h1, h2, a:hover {
  color: #8675A9;
}

h2, h3, a {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #4D4C7D;
  font-size: 1.5rem;
}

a {
  color: #4D4C7D;
  font-size: 1rem;
  margin: 10px 10px;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 2;
}

hr {
  border: dotted #DCD6F7 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/* Navigation Bar */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
}

.container-fluid {
  padding: 1% 5%;
}

.middle-container {
  margin: 5% 0;
}

.bottom-container {
  background-color: #DCD6F7;
  bottom:0;
  padding: 50px 0 20px;
  position:absolute;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 350px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.research-img-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.research-img-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #827397;
  background-image: -webkit-linear-gradient(top, #827397, #4D4C7D);
  background-image: -moz-linear-gradient(top, #827397, #4D4C7D);
  background-image: -ms-linear-gradient(top, #827397, #4D4C7D);
  background-image: -o-linear-gradient(top, #827397, #4D4C7D);
  background-image: linear-gradient(to bottom, #827397, #4D4C7D);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C3AED6;
  background-image: -webkit-linear-gradient(top, #C3AED6, #8675A9);
  background-image: -moz-linear-gradient(top, #C3AED6, #8675A9);
  background-image: -ms-linear-gradient(top, #C3AED6, #8675A9);
  background-image: -o-linear-gradient(top, #C3AED6, #8675A9);
  background-image: linear-gradient(to bottom, #C3AED6, #8675A9);
  text-decoration: none;
}

#elly-profile {
  margin: 0 0 3% 0;
}

/* Gallery */
#carouselExampleSlidesOnly {
  padding: 0% 20%;
}
